<app-header></app-header>

<section class="welcome-section">
  <h1>¡Hola y bienvenido a nuestra asombrosa plataforma de matrículas!</h1>

  <p>¡Qué emocionante tenerte con nosotros! Aquí en nuestra aplicación, hemos creado un espacio diseñado para que tu experiencia de matriculación sea simple, eficiente y sin complicaciones. ¿Listo para comenzar tu viaje educativo de una manera sencilla y rápida?</p>
</section>

<div class="center-container">
  <!--
  <app-cursos class="app-cursos left-component"></app-cursos>
  <app-ingresar-estudiantes class="app-ingresar-estudiantes right-component"></app-ingresar-estudiantes>
  -->
</div>

<router-outlet></router-outlet>

<section class="student-course-section">
  <h2>Explora y Administra Tu Matrícula</h2>

  <div class="listado-estudiantes-cursos">
    <!-- ¡Aquí es donde la magia educativa sucede! -->
    <!-- <app-listar-estudiantes class="app-ingresar-estudiantes right-component"></app-listar-estudiantes> -->
    <!-- <app-listar-cursos class="app-cursos left-component"></app-listar-cursos> -->
  </div>
</section>
